

<form  id="formAdd" name="addBook" onsubmit="return validateBook('addBook')" method="post" enctype="multipart/form-data">

    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Mã ISBN</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="isbn" placeholder="Nhập mã ISBN" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Tên sách</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="bookName" placeholder="Nhập tên sách" required>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Tên tác giả</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="author" placeholder="Nhập tên tác giả" required>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Nhà xuất bản</label>
        <div class="col-sm-10">
            <select name="publisher" class="form-select" aria-label="Default select example" required>
                <option selected disabled >Chọn nhà xuất bản</option>
                {{#publisherList}}
                    <option value="{{_id}}">{{publisherName}}</option>
                {{/publisherList}}
            </select>
        </div>
    </div>



    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Đơn giá</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="price" placeholder="Nhập giá sách" required>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Số trang</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="totalPage" placeholder="Nhập số trang" required>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Thể loại</label>
        <div class="col-sm-10">
            <select name="category" class="form-select" aria-label="Default select example" required>

                <option selected disabled >Chọn thể loại</option>

                {{#each catalogList}}
                    <option value="{{_id}}">{{catalogName}}</option>
                {{/each}}
            </select>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Hình thức bìa</label>
        <div class="col-sm-10">
            <select name="coverForm" class="form-select" aria-label="Default select example" required>
                <option selected disabled >Chọn hình thức bìa</option>
                {{#coverList}}
                    <option value="{{_id}}">{{coverName}}</option>
                {{/coverList}}
            </select>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Hình ảnh</label>
        <div class="col-sm-10">
            <input type="file" name="imageFile" class="form-control" accept="image/*" required>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Mô tả</label>
        <div class="col-sm-10">
            <textarea class="form-control" placeholder="nhập mô tả" name="detail" rows="3" required></textarea>
        </div>
    </div>




    <div class="mb-3 row">
        <div class="col-sm-10 ml-sm-auto">
            <button form="formAdd" formaction="/store/addBook/addToDb" type="submit"  class="btn btn-primary">Submit</button>
        </div>
    </div>
    <input type="hidden" name="page" value="{{page}}" />
    <input type="hidden" name="item" value="{{item}}" />
</form>
