
{{#book}}
<form name="modifyBook" onsubmit="return validateBook('modifyBook')" method="post" action="/store/{{_id}}/modify/updateToDb">


<form name="modifyBook" onsubmit="return validateBook('modifyBook')" method="post" enctype="multipart/form-data">
    {{#book}}

    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Mã ISBN</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="isbn" value="{{isbn}}" placeholder="Nhập mã ISBN">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Tên sách</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="bookName" value="{{bookName}}" placeholder="Nhập tên sách">
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Tên tác giả</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="author" value="{{author}}" placeholder="Nhập tên tác giả">
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Tên nhà xuất bản</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="publisher" value="{{publisher}}" placeholder="Nhập tên nhà xuất bản">
        </div>
    </div>



    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Đơn giá</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="price" value="{{price}}" placeholder="Nhập giá sách">
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Số trang</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="totalPage" value="{{totalPage}}" placeholder="Nhập số trang">
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Thể loại</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="category" value="{{category}}" placeholder="Nhập thể loại">
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Hình thức bìa</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="coverForm" value="{{coverForm}}" placeholder="Nhập hình thức bìa">
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Link hình ảnh</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="bookImage" value="{{bookImage}}" placeholder="Link hình" readonly>
            <input type="file" name="imageFile" class="form-control" accept="image/*" >
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-form-label col-sm-2 text-sm-right">Mô tả</label>
        <div class="col-sm-10">
            <textarea class="form-control" placeholder="nhập mô tả" name="detail" rows="3">{{detail}}</textarea>
        </div>
    </div>

    {{/book}}

    <div class="mb-3 row d-flex float-right flex-row-reverse">
        <div class="col-sm-6 ml-sm-auto">
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>

        <div class="col-sm-6 ml-sm-auto">
            <a href="/store/?page={{page}}&item={{item}}"><button type="button" class="btn btn-primary">Hủy</button></a>
        </div>
    </div>

    <input type="hidden" name="page" value="{{page}}" />
    <input type="hidden" name="item" value="{{item}}"/>
</form>
<script>
    function Hello(){
        let a = document.getElementsByName('bookImage');
        a.value = "uploaded";
    }
</script>
