<div class="main">
    {{#book}}
        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Mã ISBN</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly name="isbn" value="{{isbn}}" placeholder="Nhập mã ISBN">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Tên sách</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly name="bookName" value="{{bookName}}" placeholder="Nhập tên sách">
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Tên tác giả</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly name="author" value="{{author}}" placeholder="Nhập tên tác giả">
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Tên nhà xuất bản</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly name="publisher" value="{{publisherName}}" placeholder="Nhập tên nhà xuất bản">
            </div>
        </div>



        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Đơn giá</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" readonly name="price" value="{{price}}" placeholder="Nhập giá sách">
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Số trang</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" readonly name="totalPage" value="{{totalPage}}" placeholder="Nhập số trang">
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Thể loại</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly name="category" value="{{category}}" placeholder="Nhập thể loại">
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Hình thức bìa</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly name="coverForm" value="{{coverForm}}" placeholder="Nhập hình thức bìa">
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Link hình ảnh</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly name="bookImage" value="{{bookImage}}" placeholder="Dán link hình vào đây">
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Mô tả</label>
            <div class="col-sm-10">
                <textarea class="form-control"  readonly  placeholder="nhập mô tả" name="detail" rows="3">{{detail}}</textarea>
            </div>
        </div>
        <div class="mb-3 row d-flex flex-row">
            <div class="col-form-label col-sm-2 text-sm-right"></div>
            <div class="col-sm-10 d-inline-flex float-left ">
                <div class="mr-1 text-nowrap">
                    <a href="/store/{{_id}}/modify"><button class="btn btn-primary">Chỉnh sửa</button></a>

                </div>

                <div class="mr-1 ">
                    <!--
                    <a href="/store/{{_id}}/delete" data-toggle="modal"><button type="button" class="btn btn-primary">Xóa</button></a>
                    -->
                    <a href="#confirm" data-toggle="modal"><button type="button" class="btn btn-danger">Xóa</button></a>
                </div>
            </div>
        </div>



</div>

<div class="modal" id="confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc sẽ xóa sản phẩm này</p>
            </div>
            <div class="modal-footer">
                <a href="/store/{{_id}}/delete" ><button type="button" class="btn btn-primary">Đồng ý</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
    {{/book}}
