<form id="formModify" name="modifyProfile"  action="/profile/modify" method="post"
      >

    {{#user}}
        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Tên người dùng</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="TenNhanVien" value="{{TenNhanVien}}" placeholder="Nhập tên người dùng">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Email" value="{{Email}}"
                       placeholder="Nhập email">
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">SDT</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="SDT" value="{{SDT}}" placeholder="Nhập số điện thoại">
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Địa chỉ</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="DiaChi" value="{{DiaChi}}"
                       placeholder="Nhập địa chỉ">
            </div>
        </div>



        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-right">Giới tính</label>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="GioiTinh" id="exampleRadios1" value="Nam" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Nam
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="GioiTinh" id="exampleRadios2" value="Nữ">
                    <label class="form-check-label" for="exampleRadios2">
                    Nữ
                    </label>
                </div>
            </div>
        </div>





        <div class="mb-3 row d-flex float-right flex-row-reverse">
            <div class="col-sm-6 ml-sm-auto">
                <button form="formModify" type="submit"
                        class="btn btn-primary">Lưu
                </button>
            </div>

            <div class="col-sm-6 ml-sm-auto">
                <a href="/store/?page={{page}}&item={{item}}">
                <button type="button" class="btn btn-primary">Hủy</button>
                </a>
            </div>
        </div>
    {{/user}}
    <input type="hidden" name="page" value="{{page}}"/>
    <input type="hidden" name="item" value="{{item}}"/>
</form>



