<body>

{{#user}}
<div class="row">
    <div class="card">
        <div class="card-header" style='height: 50%'id="headInfoSupplier">

            <div class="float-left">
                <p>Thông tin tài khoản</p>
            </div>

            <div class="float-right">
                <a href="/profile/modify" class="btn btn-primary">Chỉnh sửa</a>
            </div>


        </div>

        <div class="card-body">

            <div class="row" id="infoSupplier">
                <div class="col-sm-4">
                   <h4>Tên đăng nhập</h4>
                </div>
                <div class="col-sm-8">
                    <h4>{{TenDangNhap}}</h4>
                </div>

            </div>


            <div class="row" id="infoSupplier">
                <div class="col-sm-4">
                    <h4>Tên người dùng</h4>
                </div>
                <div class="col-sm-8">
                    <h4>{{TenNhanVien}}</h4>
                </div>

            </div>


            <div class="row" id="infoSupplier">
                <div class="col-sm-4">
                    <h4>Giới tính</h4>
                </div>
                <div class="col-sm-8">
                    <h4>{{GioiTinh}}</h4>
                </div>

            </div>


            <div class="row" id="infoSupplier">
                <div class="col-sm-4">
                    <h4>DiaChi</h4>
                </div>
                <div class="col-sm-8">
                    <h4>{{DiaChi}}</h4>
                </div>

            </div>


            <div class="row" id="infoSupplier">
                <div class="col-sm-4">
                    <h4>Email</h4>
                </div>
                <div class="col-sm-8">
                    <h4>{{Email}}</h4>
                </div>

            </div>



        </div>

    </div>


</div>

{{/user}}



<div class="row">
    <div class="card">
        <div class="card-header" id="headInfoSupplier">

                <div class="float-left">
                    <p>Mật khẩu</p>
                </div>

        </div>


        <div class="card-body">

            <div class="row" id="infoSupplier">
                 <div class="col-sm-4">
                <a href="/profile/changepassword" class="btn btn-info" id="modifySupplier" role="link">
                Thay đổi mật khẩu</a>
                </div>
             <div class="col-sm-8">

             </div>

            </div>

    <br />

    </div>

</div>


</div>




    <br />



<style>
    #headInfoSupplier {

        border-bottom: 3px solid whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
}

    #infoSupplier {

    padding-top: 1rem;
    padding-bottom: 1rem;


    font-size: 14px;
    font-weight: bold;
}

    #modifySupplier {
    margin-right: 0px;
}

    #removeSuplier {
    border-bottom: 3px solid whitesmoke;
    font-size: 12px;
    margin-right: 0px;
}
</style>

    <script>
    if (performance.navigation.type==2) {
    location.reload();
}
    </script>
</body>