<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th style="width:40%;">Mã ISBN</th>
        <th style="width:25%">Tên sách</th>
        <th class="d-none d-md-table-cell" style="width:25%">Tác giả</th>
        <th style="width:25%">Nhà xuất bản</th>
        <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    {{#each book}}
    <tr>
        <td>{{_id}}</td>
        <td>{{isbn}}</td>
        <td>{{bookName}}</td>
        <td class="d-none d-md-table-cell">{{author}}</td>
        <td>{{publisher}}</td>
        <td class="table-action">
            <a href="/store/modify/{{_id}}"><i class="align-middle" data-feather="edit-2"></i></a>
            <a href="#"><i class="align-middle" data-feather="trash"></i></a>
        </td>

    </tr>
    {{/each}}
    </tbody>
</table>


<a href="/store/addBook"><button class="btn btn-square btn-primary">Thêm mới</button></a>